html, body, main {
    height: 100%;
}

main {
    font-family: fantasy;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    position: relative;
    right: 5px;
    background: #f1f1f1;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 70%;
    margin: 5em auto;
    padding: 3em;
    overflow-y: hidden;
}
.game-container-big {
    height: 90%;
}

.battle-field,
.battle-field-big {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.battle-field .field-inner,
.battle-field-big .field-inner {
    position: absolute;
    left: 30%;
    top: 150px;
    width: 40%;
    height: 400px;
    padding: 2em;
    border: 1px solid rgba(79, 70, 229,0.6);
    border-radius: 7px;
    overflow-y: scroll;
    font-family: monospace;
}
.battle-field-big .field-inner {
    top: 410px;
    width: 55%;
    left: 20%;
    height: 320px;
}
.battle-field .player:nth-child(2) {
    text-align: right;
}
.battle-field .player:nth-child(2) .pic {
    display: flex;
    justify-content: end;
}
.battle-field .player:nth-child(2) .props {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.battle-field .player:nth-child(2) .props p {
    display: inline-flex;
    width: 100%;
}

.player {
    width: 32%;
}
.player .name {
    font-size: 1.5em;
    font-weight: bold;
}
.player .pic {
    height: 250px;
}
.player .pic img {
    height: 100%;
}
.player .props p {
    max-width: 50%;
    margin-bottom: 0.2em;
    padding: 0.2em 0.8em;
    line-height: 25px;
    font-weight: bold;
    color: #fff;
}
.player .props p:first-child {
    background-color: brown;
}
.player .props p:nth-child(2) {
    background-color: lightgreen;
    color: #000;
}
.player .props p:last-child {
    background-color: rgb(50, 104, 220);
}

.battle-field-big {
    flex-wrap: wrap;
}
.battle-field-big .player {
    width: 20%;
    margin-bottom: 2.2em;
}
.battle-field-big .player .pic {
    height: 135px;
}
.battle-field-big .player .name {
    font-size: 1.2em;
}
.battle-field-big .player .props p {
    max-width: 65%;
    font-size: 13px;
    line-height: 16px;
}
.battle-count-8 .player:nth-of-type(6), .battle-count-9 .player:nth-of-type(6), 
.battle-count-10 .player:nth-of-type(6), .battle-count-9 .player:nth-of-type(7), 
.battle-count-10 .player:nth-of-type(7), .battle-count-10 .player:nth-of-type(8)  {
    position: absolute;
    bottom: 2em;
}
.battle-count-10 .player:nth-of-type(7) {
    left: 43%;
}
.battle-count-10 .player:nth-of-type(8),
.battle-count-9 .player:nth-of-type(7) {
    right: 0;
}

.return-home {
    position: absolute;
    left: 2em;
    top: 1.95em;
    color: #fff;
}
.refresh-btn {
    position: absolute;
    top: 1.95em;
    right: 2em;
    color: #fff;
}
.return-home svg,
.refresh-btn svg {
    width: 35px;
    height: 28px;
}